<div id="edituser">
  <div class="editwrapper">
  <h2>Edit User</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <div class="errors"><%= devise_error_messages! %></div>
          <div class="sign-up-form-field clearfix">
            <div class="field-label">Email:</div>
            <%= f.email_field :email, :autofocus => true, class: "field" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="sign-up-form-field clearfix">
            <div class="field-label">Password:</div>
            <%= f.password_field :password, :autocomplete => "off", class: "field" %>
          </div>  

          <div class="sign-up-form-field clearfix">
            <div class="field-label">Password Confirmation:</div>
            <%= f.password_field :password_confirmation, class: "field" %>
          </div>  

          <div class="sign-up-form-field clearfix">
            <div class="field-label">Current Password:</div>
            <%= f.password_field :current_password, class: "field" %>
          </div>      

          <button type="submit" class="simple-button blue" style="float:right;">Save</button>
        <% end %>
      </br>

  <h2>Cancel my account</h2>

  <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "simple-button blue" %>
  <%= link_to "Back", :back, style: "float:right" %>
  </div>
</div>
