<%= form_for @student, html: { class: 'form-horizontal', role: 'form' } do |f| %>
	<legend>Profile</legend>
	<div class="form-group">
		<%= f.label :first_name, 'First Name', class: 'control-label col-md-2' %>
		<div class="col-md-10">
			<%= f.text_field :first_name, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :last_name, 'Last Name', class: 'control-label col-md-2' %>
		<div class="col-md-10"> 
			<%= f.text_field :last_name, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :school, class: 'control-label col-md-2' %>
		<div class="col-md-10">
	  	<%= f.select(:school, options_for_select(['SEAS', 'CC', 'GS']), {}, {:class => "form-control"}) %>
		</div>
	</div>

	<div class="form-group"> 
		<%= f.label :degree, class: 'control-label col-md-2' %>
		<div class="col-md-10">
	  	<%= f.select(:degree, options_for_select(['BA', 'BS', 'MA']), {}, {:class => "form-control"})%>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :year_of_graduation, 'Graduation Year', class: 'control-label col-md-2' %>
		<div class="col-md-10">
	  	<%= f.number_field :year_of_graduation, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :major, class: 'control-label col-md-2' %>
		<div class="col-md-10">
	  	<%= f.text_field :major, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :interviewing_for, 'Position Type', class: 'control-label col-md-2' %>
		<div class="col-md-10">
	  	<%= f.select(:interviewing_for, options_for_select(['Casual', 'Full Time', 'Part Time']), {}, {:class => "form-control"}) %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :interview_type, 'Industry', class: 'control-label col-md-2' %>
		<div class="col-md-10">
	  	<%= f.select(:interview_type, options_for_select(['Academic', 'Advertisement/Marketing/PR', 'Consulting', 'Consumer Products', 'Engineering', 'Entertainment', 'Financial Services', 'Government', 'Healthcare', 'Law', 'Media', 'Programming', 'Non-Profit']), {}, {:class => "form-control"}) %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :free_times, 'Available Times', class: 'control-label col-md-2' %>
		<div class="col-md-10">
	  	<%= f.fields_for :free_times do |builder| %>
	      <%= render 'free_times_fields', f: builder %>
	    <% end %>
	    <div><%= link_to_add_fields "Add Time", f, :free_times %></div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<%= f.submit "Save", :class => 'simple-button large'%>
		</div>
	</div>
<% end %>
  

