<div id="static-wrapper">
  <div id="about-box" class="clearfix">
    <div class="box-title-wrapper">
      <div class="box-title">
        <h1>Sign In</h1>
      </div>
    </div>
    <div class="box-content">
			<%= horizontal_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
				<%= devise_error_messages! %> 
			  <%= f.input :login, label: 'Username or Email' %>
			  <%= f.input :password %>

				<% if devise_mapping.rememberable? -%>
				  <%= f.input :remember_me, as: :wrapped_boolean, label: 'Keep me signed in' %>
				<% end %>

				<div class="controls">
					<%= render "devise/shared/links" %>
				</div>

				<%= f.fancy_submit 'Sign in' %>

			<% end %>
    </div>
    <div class="back-to-wrapper clearfix"> 
      <a href="/"><div class="back-to-home"></div></a>
    </div>
  </div>
</div>

</div>
<script>
  $(function() {
    Moonlyt.signedOutNav.active('none');
  })
</script>