<div id="sign-in-header">
  <% if current_user.present? %>
    <header>
      <div class="header-wrapper">
        <fieldset>
          <div class="title"><%= link_to "The Mock Interview Initiative", root_path, class: "title", style: "text-decoration:none;" %></div>
          <div class="form-container">
            <div class="email-show">
              <label>Email: <%= current_user.email%> </label>
              <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "simple-button blue" %>
            </div>
          </div>
        </fieldset>
        </div> 
    </header>    
  <% else %>
    <header>
      <%= form_for(resource, :as => 'user', :url => session_path('user')) do |f| %>
      <div class="header-wrapper">
        <fieldset>
            <div class="title"><%= link_to "The Mock Interview Initiative", root_path, class: "title", style: "text-decoration:none;" %></div>
            <div>
              <div class="form-container">
                <label>Email:</label><%= f.email_field :email, :autofocus => true, :class => 'field', style: "display:inline" %>
                <label>Password:</label><%= f.password_field :password, :autofocus => true, :class => 'field', style: "display:inline" %>
                <button type="submit" class="simple-button blue">Sign in</button>
              </div>
            </div>
        </fieldset>
      <% end %>            
      </div>
    </header>
  <% end %>
</div>
