<div id="sign-in-header">
  <% if current_user.present? %>
    <header>
      <div class="header-wrapper">
        <div class="title">The Mock Interview Initiative</div>
          <!--this is the place to show the username and logout-->
          <div>
            <div>Account:    <%= current_user.email%> 
            </div>
          </div>
           <div>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
           </div>
        </div>   
    </header>    
  <% else %>
    <header>
      <%= form_for(User.new, :as => 'user', :url => session_path('user')) do |f| %>
      <div class="header-wrapper">
        <fieldset>
            <div class="title">The Mock Interview Initiative</div>
            <div>
              <div class="form-container">
                <label>Email:</label><%= f.email_field :email, :autofocus => true, :class => 'field' %>
                <label>Password:</label><%= f.password_field :password, :autofocus => true, :class => 'field' %>
                <button type="submit" class="simple-button">Sign in</button>
              </div>
            </div>
        </fieldset>
      <% end %>            
      </div>
    </header>
  <% end %>
</div>
